---
const {title} = Astro.props;
---

<h2 class="text-4x1 md:text-6x1 font-bold uppercase tracking-tight transform -skew-x-12 text-right mb-16">
    <span class="inline-block skew-x-12">{title}</span>
</h2>